* {
    margin: 0%;
    padding: 0%;
}


.name{
    font-family: 'Alfa Slab One', cursive;
}

.presentacion {
    font-family: 'Domine', serif
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.pt {
    font-family: 'PT Serif', serif;
}

body {
    background: linear-gradient(70deg, rgb(93, 235, 185), rgb(140, 228, 219));
    
}

header {
    margin-bottom: 20px;
}
footer {
    margin-top: 40px;
}
.logo {
    width: 24px;
}

section {
    margin-bottom: 10px;
}

.noticia {
    font-family: 'Noticia Text', serif;
}

.logotipo {
    width: 60px;
    
}

.separacion {
    margin-top: 20px;
}
